@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer base {
  :root {
    --background: 224 100% 95%;
    --foreground: 224 5% 3%;
    --card: 224 50% 90%;
    --card-foreground: 224 5% 10%;
    --popover: 224 100% 95%;
    --popover-foreground: 224 100% 3%;
    --primary: -33 85% 70%;
    --primary-foreground: -33 8.5% 7%;
    --secondary: -33 42.5% 21%;
    --secondary-foreground: -33 8.5% 98.5%;
    --accent: -33 42.5% 21%;
    --accent-foreground: -33 8.5% 98.5%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 50%;
    --input: 224 30% 18%;
    --ring: 224 81% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 50% 5%;
    --foreground: 224 5% 90%;
    --card: 224 50% 3%;
    --card-foreground: 224 5% 90%;
    --popover: 224 50% 5%;
    --popover-foreground: 224 5% 90%;
    --primary: -33 85% 70%;
    --primary-foreground: -33 8.5% 7%;
    --secondary: -33 42.5% 21%;
    --secondary-foreground: -33 8.5% 98.5%;
    --accent: -33 42.5% 21%;
    --accent-foreground: -33 8.5% 98.5%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 224 5% 90%;
    --border: 224 30% 18%;
    --input: 224 30% 18%;
    --ring: 224 81% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
